test/
results/
tktest.py
test.py
resources/img/
resources/avatar_template/
resources/words.txt
README.md
__pycache__/
utils/__pycache__/
modules/__pycache__/
ui/__pycache__/
wordcloud.png
dist/
build/
requirements.txt
main.spec
.vscode/


